* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 621px;
    height: 462px;
    background-color: white;
    padding: 12px;
}

